@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

.App {
  text-align: center;
}

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
}
